<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h2>User info</h2>
      <%= image_tag user.get_profile_image(100,100) %>
      <h2>New book</h2>
        <%= form_with model: Book.new do |f| %>
　　　  <div>
  　 　　<h4>title</h4>
  　　　　<%= f.text_field :title %>
　　　　</div>
　　　　<div>
  　　　　<h4>Opinion</h4>
  　　　　<%= f.text_area :body %>
　　　　</div>
　　　　<div>
  　　　　<%= f.submit 'Create Book' %>
　　　　</div>
　　　　<% end %>
    </div>
    <div class="col-md-9">
      <h2>Books</h2>
      <% books.each do |book| %>
      <div>
        <p>title：<%= book.title %></p>
        <p>Opinion：<%= book.body %></p>
        <p>ユーザーネーム：<%= book.user.name %></p>
      </div>
      <% end %>
    </div>
  </div>
</div>


