<div class="container">
  <div class="row">
    <div class="mx-auto col-xl-4">
      <h1>Editing Book</h1>
      <% if @book.errors.any? %>
        <%= @book.errors.count %>errors prohibited this obj from being saved:
        <ul>
          <% @book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      
      <%= form_with model: @book do |f| %>

      <p>Title</p>
      <%= f.text_field :title %>
      <p>Opinion</p>
      <%= f.text_area :body %>
      <div>
      <%= f.submit 'Update Book' %>
      </div>

      <%= link_to "Show", book_path(@book.id) %>
      |
      <a class="back" href="/books">Back</a>
      <% end %>
    </div>
  </div>
</div>